.layout {
  display: flex;
  height: 100vh;
  min-width: 100%;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  display: flex;
  justify-content: left;
}

.logo img {
  width: 60px;
  height: auto;
}

.navBox{
    height: 100%;
    margin-top: 80px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navItem {
    all: unset;
  padding: 10px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s ease;
}

.navItem:hover {
  background-color: #C4DFF3;
   color: var(--accent-color);
}

.navItem span {
  transition: transform 0.2s ease;
}

.navItem:hover span{
 transform: scale(1.15);
}

.projectList{
    margin-top: 40px;
    font-size: 14px;
}
.projectList h4{
    font-size: 16px;
    color: var(--accent-color)
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 40px;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}

.timeBox, .userBox{
    display: flex;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoutBtn{
    border: none;
}
.logoutBtn:hover{
   color: var(--primary-color)
}
.pageTitle {
  font-weight: 900;
  color: var(--accent-color);
  letter-spacing: 0.5px;
  font-size: 22px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
