
:root {
  font-family: 'Poppins', sans-serif;
  --background-color: #f8f2f2;
  --foreground-color:#646363;
  --font-color: #2D2C2C;
  --accent-color: #155883;
  --primary-color: #4292f3;
}
#root {
  min-width: 100%;
  display: flex;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gg-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

button:disabled{
  background-color: gray;
  cursor: not-allowed;
}

.btn{
  display: inline-block;
  margin-top: 2rem;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  background-color: var(--accent-color);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.btn:hover{
    background-color: var(--primary-color);
  }
  
.btn:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}